.app {
  display: grid;
  grid-template-areas: 
    "date"
    "fetch"
    "fetch-data"
    "main"
    "input";
  grid-template-rows: 200px 50px 165px 1fr 90px;
  height: 896px;
  width: 414px;
  border: 1px solid #000000;
  flex-direction: column;
  flex-wrap: nowrap;
}

img {
  height: 20px;
  width: 20px;
}